.home-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100vh; /* Makes the container take the full viewport height */
}

.home-page h1 {
  margin-bottom: 20px; /* Adds spacing between the heading and the image */
}

.home-page img {
  max-width: 100%; /* Ensures the image is responsive */
  height: auto;
}